<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - dotnet_webapp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dotnet_webapp.styles.css" asp-append-version="true" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body id="app">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Dog Breeds Task-Based Async Example</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <button class="btn btn-primary" v-on:click="getDogBreeds">Get Dog Breed List</button>
            <button v-if="loading" class="btn btn-primary" v-on:click="cancel">Cancel</button>
            <div v-if="loading === false && dogBreeds.length > 0">
                <h1>Dog Breeds</h1>
                <ul>
                    <li v-for="breed in dogBreeds">{{breed}}</li>
                </ul>
            </div>
            <div v-if="loading">
                <h1>Loading...</h1>
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - dotnet_webapp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script>
        var app = Vue.createApp({
            data() {
                return {
                    message: 'Hello Vue 3!',
                    dogBreeds: [],
                    loading: false,
                }
            },
            mounted() {
                console.log('vue mounted')
            },
            methods: {
                getDogBreeds() {
                    this.loading = true;
                    axios.get('/api/get-data')
                        .then(response => {
                            if(response.data.status === 'Cancelled') {
                                alert('Request was canceled');
                                this.loading = false;
                                this.dogBreeds = [];
                                return;
                            }
                            this.dogBreeds = response.data;
                            this.loading = false;
                        })
                        .catch(error => {
                            this.loading = false;
                        })
                },
                cancel() {

                    axios.get('/api/cancel')
                        .catch(error => {
                            alert('error cancelling')
                        })
                }
            }
        })
        app.mount('#app')
    </script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>